

@* 改Ajax *@
<div id="fi">
    <form onreset="return fi_reset(this)" onsubmit="return fi_submit(this)" name="fi" method="post" action="/Home/About">
        <div class="filter-main">
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>職業</legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">

                        <li>
                            <input type="checkbox" name="Class" id="fclass-2" value="Druid">
                            <label for="fclass-2">德魯伊</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-3" value="Hunter">
                            <label for="fclass-3">獵人</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-4" value="Mage">
                            <label for="fclass-4">法師</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-5" value="Paladin">
                            <label for="fclass-5">聖騎士</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-6" value="Priest">
                            <label for="fclass-6">牧師</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-7" value="Rogue">
                            <label for="fclass-7">盜賊</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-8" value="Shaman">
                            <label for="fclass-8">薩滿</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-9" value="Warlock">
                            <label for="fclass-9">術士</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Class" id="fclass-10" value="Warrior">
                            <label for="fclass-10">戰士</label>
                        </li>

                    </ul>
                </div>
            </fieldset>
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>品質</legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">
                        <li>
                            <input type="checkbox" name="Quality" id="fclass-6" value="Free">
                            <label for="fclass-6">免費</label>
                        </li>
                        <li>
                            <input type="checkbox" name="Quality" id="fclass-2" value="Common">
                            <label for="fclass-2">普通</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Quality" id="fclass-3" value="Rare">
                            <label for="fclass-3">精良</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Quality" id="fclass-4" value="Epic">
                            <label for="fclass-4">史詩</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Quality" id="fclass-5" value="Legendary">
                            <label for="fclass-5">傳說</label>
                        </li>

                    </ul>
                </div>
            </fieldset>
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>類別</legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">

                        <li>
                            <input type="checkbox" name="Type" id="fclass-2" value="Minion">
                            <label for="fclass-2">手下</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Type" id="fclass-3" value="Spell">
                            <label for="fclass-3">法術</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Type" id="fclass-4" value="Weapon">
                            <label for="fclass-4">武器</label>
                        </li>

                    </ul>
                </div>
            </fieldset>
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>卡包</legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">
                        <li>
                            <input type="checkbox" name="Set" id="fclass-2" value="Basic">
                            <label for="fclass-2">基本</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Set" id="fclass-2" value="Classic">
                            <label for="fclass-2">經典</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Set" id="fclass-3" value="Curse of Naxxramas">
                            <label for="fclass-3">納克薩瑪斯</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Set" id="fclass-4" value="Goblins vs Gnomes">
                            <label for="fclass-4">哥哥打地地</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Set" id="fclass-5" value="Blackrock Mountain">
                            <label for="fclass-5">勇闖黑石山</label>
                        </li>

                 
                    </ul>
                </div>
            </fieldset>
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>種族</legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">

                        <li>
                            <input type="checkbox" name="Race" id="fclass-2" value="Murloc">
                            <label for="fclass-2">魚人</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Race" id="fclass-3" value="Totem">
                            <label for="fclass-3">圖騰</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Race" id="fclass-4" value="Beast">
                            <label for="fclass-4">野獸</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Race" id="fclass-5" value="Dragon">
                            <label for="fclass-5">龍組</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Race" id="fclass-6" value="Mech">
                            <label for="fclass-6">機械</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Race" id="fclass-7" value="Pirate">
                            <label for="fclass-7">海盜</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Race" id="fclass-8" value="Demon">
                            <label for="fclass-8">惡魔</label>
                        </li>


                    </ul>
                </div>
            </fieldset>
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>魔力</legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-2" value="0">
                            <label for="fclass-2">0</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-3" value="1">
                            <label for="fclass-3">1</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-4" value="2">
                            <label for="fclass-4">2</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-5" value="3">
                            <label for="fclass-5">3</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-6" value="4">
                            <label for="fclass-6">4</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-7" value="5">
                            <label for="fclass-7">5</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-8" value="6">
                            <label for="fclass-8">6</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Cost" id="fclass-9" value="7">
                            <label for="fclass-9">7以上</label>
                        </li>

                    </ul>
                </div>
            </fieldset>
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>血量</legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">

                        <li>
                            <input type="checkbox" name="Health" id="fclass-2" value="0">
                            <label for="fclass-2">0</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Health" id="fclass-3" value="1">
                            <label for="fclass-3">1</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Health" id="fclass-4" value="2">
                            <label for="fclass-4">2</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Health" id="fclass-5" value="3">
                            <label for="fclass-5">3</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Health" id="fclass-6" value="4">
                            <label for="fclass-6">4</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Health" id="fclass-7" value="5">
                            <label for="fclass-7">5</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Health" id="fclass-8" value="6">
                            <label for="fclass-8">6</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Health" id="fclass-9" value="7">
                            <label for="fclass-9">7以上</label>
                        </li>

                    </ul>
                </div>
            </fieldset>
            <fieldset class="right-side" data-bitmask-name="filter-class" data-bitmask="0">
                <span class="delete-button" title="Clear" data-debug="0" style="display: none">×</span>

                <legend>
                    攻擊
                </legend>
                <div>
                    <ul style="list-style:none;padding-left: 20px;padding-right: 20px;">

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-2" value="0">
                            <label for="fclass-2">0</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-3" value="1">
                            <label for="fclass-3">1</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-4" value="2">
                            <label for="fclass-4">2</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-5" value="3">
                            <label for="fclass-5">3</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-6" value="4">
                            <label for="fclass-6">4</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-7" value="5">
                            <label for="fclass-7">5</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-8" value="6">
                            <label for="fclass-8">6</label>
                        </li>

                        <li>
                            <input type="checkbox" name="Attack" id="fclass-9" value="7">
                            <label for="fclass-9">7以上</label>
                        </li>

                    </ul>
                </div>
            </fieldset>
        </div>

        @* 技能下拉選 *@
        @*<div class="criteria" id="fi_criteria">
                <div>
                    <select name="cr[]">
                        <option value="">Additional Filters…</option>
                        <optgroup label="General">
                            <option value="39">Added in patch</option>
                            <option value="11">Adjacent buff</option>
                            <option value="33">Artist</option>
                            <option value="37">Aura</option>
                            <option value="41">Cards in My Collection</option>
                            <option value="9">Dream Card</option>
                            <option value="5">Elite</option>
                            <option value="32">Has a flavor text</option>
                        </optgroup>
                        <optgroup label="Base stats">
                            <option value="1">Cost</option>
                            <option value="2">Attack</option>
                            <option value="3">Health</option>
                            <option value="4">Durability</option>
                        </optgroup>
                        <optgroup label="Mechanics">
                            <option value="1071">Affected By Spell Damage</option>
                            <option value="1001">Battlecry</option>
                            <option value="1052">Buff Stats</option>
                            <option value="1057">Can't Attack</option>
                            <option value="1061">Change Cost</option>
                            <option value="1062">Change Stats</option>
                            <option value="1002">Charge</option>
                            <option value="1053">Choose One</option>
                            <option value="1003">Combo</option>
                            <option value="1056">Copy</option>
                            <option value="1018">Counter</option>
                            <option value="1065">Damage All</option>
                            <option value="1066">Damage Enemies</option>
                            <option value="1064">Deal Damage</option>
                            <option value="1004">Deathrattle</option>
                            <option value="1054">Destroy</option>
                            <option value="1051">Discard</option>
                            <option value="1005">Divine Shield</option>
                            <option value="1050">Draw Cards</option>
                            <option value="1006">Enrage</option>
                            <option value="1007">Freeze</option>
                            <option value="1068">Gain Armor</option>
                            <option value="1008">Grant Charge</option>
                            <option value="1019">Immune</option>
                            <option value="1070">Immune To Spell Damage</option>
                            <option value="1063">Mana Crystals</option>
                            <option value="1009">Overload: X</option>
                            <option value="1069">Poisonous</option>
                            <option value="1060">Restore Health</option>
                            <option value="1067">Return to Hand</option>
                            <option value="1011">Secret</option>
                            <option value="1012">Silence</option>
                            <option value="1020">Spare Parts</option>
                            <option value="1010">Spell Damage</option>
                            <option value="1013">Stealth</option>
                            <option value="1055">Summon</option>
                            <option value="1058">Take Control</option>
                            <option value="1015">Taunt</option>
                            <option value="1059">Transform</option>
                            <option value="1017">Windfury</option>
                        </optgroup>
                    </select>
                </div>
            </div>*@

        <div class="filter-row">
            @Html.TextBox("CardName", "", new { @placeholder = "輸入卡片名稱" })
            <input type="submit" value="～過濾卡片~">
            <input type="submit" value="重設">
        </div>
        <div class="clear"></div>
    </form>
    <div class="pad"></div>
</div>
