USE [master]
GO
/****** Object:  Database [HearthStone]    Script Date: 08/09/2015 16:43:32 ******/
CREATE DATABASE [HearthStone] ON  PRIMARY 
( NAME = N'HearthStone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HearthStone.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HearthStone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HearthStone_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HearthStone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HearthStone]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 08/09/2015 16:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cards](
	[guid] [char](36) NOT NULL,
	[id] [varchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
	[local] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[faction] [nvarchar](50) NULL,
	[rarity] [nvarchar](50) NULL,
	[cost] [int] NULL,
	[race] [nvarchar](50) NULL,
	[playerClass] [nvarchar](50) NULL,
	[text] [nvarchar](100) NULL,
	[inPlayText] [nvarchar](50) NULL,
	[mechanics] [nvarchar](50) NULL,
	[flavor] [nvarchar](100) NULL,
	[artist] [nvarchar](50) NULL,
	[attack] [int] NULL,
	[health] [int] NULL,
	[collectible] [bit] NULL,
	[elite] [nvarchar](50) NULL,
	[howToGet] [nvarchar](50) NULL,
	[howToGetGold] [nvarchar](50) NULL,
	[img] [nvarchar](50) NULL,
	[imgGold] [nvarchar](50) NULL,
	[set] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cards] PRIMARY KEY CLUSTERED 
(
	[guid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cards] ([guid], [id], [name], [local], [type], [faction], [rarity], [cost], [race], [playerClass], [text], [inPlayText], [mechanics], [flavor], [artist], [attack], [health], [collectible], [elite], [howToGet], [howToGetGold], [img], [imgGold], [set]) VALUES (N'002ae63a-407b-4ef4-91f1-7f8b00911a57', N'NAX9_03', N'寇斯艾茲族長', NULL, N'Minion', NULL, NULL, 3, NULL, NULL, N'你的英雄<b>免疫</b>', NULL, NULL, NULL, NULL, 1, 7, 0, N'True', NULL, NULL, NULL, NULL, N'Curse of Naxxramas')
INSERT [dbo].[Cards] ([guid], [id], [name], [local], [type], [faction], [rarity], [cost], [race], [playerClass], [text], [inPlayText], [mechanics], [flavor], [artist], [attack], [health], [collectible], [elite], [howToGet], [howToGetGold], [img], [imgGold], [set]) VALUES (N'00317466-f090-485a-96ef-02eb57f09b46', N'EX1_158', N'森林之魂', NULL, N'Spell', N'Neutral', N'Common', 4, NULL, N'Druid', N'賦予你的手下「<b>死亡之聲:</b>召喚一個2/2樹人」', NULL, NULL, N'「造林」這個字眼忽然間變得恐怖了起來。', N'Markus Erdt', 0, 0, 1, NULL, NULL, NULL, NULL, NULL, N'Classic')
INSERT [dbo].[Cards] ([guid], [id], [name], [local], [type], [faction], [rarity], [cost], [race], [playerClass], [text], [inPlayText], [mechanics], [flavor], [artist], [attack], [health], [collectible], [elite], [howToGet], [howToGetGold], [img], [imgGold], [set]) VALUES (N'00414ae5-4d7d-43c0-8f75-4f9887eed5ea', N'CS2_083e', N'磨利', NULL, N'Enchantment', NULL, NULL, 0, NULL, N'Rogue', N'本回合+1攻擊力', NULL, N'OneTurnEffect', NULL, NULL, 0, 0, 0, NULL, NULL, NULL, NULL, NULL, N'Basic')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
